:root{
    --first-color:#963be7;
    --second-color:#3b0962;
    --terciary-color:#fd2c9a;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    padding-top: 50px;
}

li a {
    text-decoration: none;
    font-size: 30px;
} 

h2{
    color: #ee0cef;
}

h3{
  color: #5c098f;
}

/* body{
     background: linear-gradient(90deg, var(--terciary-color) 38%,  var(--first-color) 100%);
} */

