


.left-container {
    width: 30%;
    height: 100%;
    background: var(--first-color);
    /* background: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

/* .left-container header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

.container-img-profile img,
.container-img-logo img {
    border-radius: 50%;
    width: 80%;
    height: auto;
    max-width: 150px; /* Ajusta según sea necesario */
    margin: 10px 0;
}

.container-img-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta según sea necesario */
    
    
}
.name-profile {
    font-size: 2vw; /* Tamaño del texto relativo al ancho de la ventana */
    margin: 10px 0;
    color: white;
}

.navbar-profile {
    width: 100%;
}

.navbar-profile ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .navbar-profile ul li a {
    color: white; /* Cambia el color de los enlaces a blanco */
    
}

.navbar-profile ul li {
    margin: 10px 0;
}

.navbar-profile ul li a {
   
    font-size: 1.5vw; /* Tamaño del texto relativo al ancho de la ventana */
}

.navbar-profile ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    width: 100%;
}

.container-img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta según sea necesario */
}

footer.navbar-social-networks{
    position: fixed;
    bottom: 0;
    width: 30%;
    border-top: 1px;
    padding: 10px 0;
}

.navbar-social-networks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-social-networks li {
    margin: 0 10px;
}






