


.left-container{
    width: 30%;
    height: 100%;
    /* background: linear-gradient(90deg, var(--terciary-color) 38%,  var(--first-color) 100%); */
    background: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    justify-content: space-between;
    
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Centra verticalmente los elementos en el header */
    padding: 3px 3px;
    
}


.container-img-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta según sea necesario */
    
   
    
}

.img-profile {
    max-width: 50%;
    height: auto;
    border-radius: 50%; /* Solo si quieres que la imagen de perfil sea circular */

}



.name-profile {
    text-align: center;
    padding-left: 30px;
}

.container-img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta según sea necesario */
}

.img-logo{
    max-width: 50%;
  
  
    
}

.navbar-profile {
    width: 100%;
}

.navbar-profile ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer.navbar-social-networks{
    position: fixed;
    bottom: 0;
    width: 30%;
    border-top: 1px;
    padding: 10px 0;
}

.navbar-social-networks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-social-networks li {
    margin: 0 10px;
}

.navbar-profile li {
    margin-bottom: 10px; /* Ajusta el espacio entre los elementos según sea necesario */
}

.perfil{
    text-align: justify;
    padding-right: 10px;
}


