p{
    color: white;
}

hr{
    margin-bottom: 10px;
}


.right-container {
    width: 70%;
    height: 100%;
    margin-left: 30%; /* Para asegurarse de que no esté detrás del left-container */
    /* background: linear-gradient(90deg, var(--terciary-color) 38%,  var(--first-color) 100%); */
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-top: 10px;
    /* Otros estilos necesarios */
}

.perfil{
    text-align: justify;
    padding-right: 10px;
}


.container-cursos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
}

.card-cursos {
    background: #8827cf;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(30% - 20px); /* Tres tarjetas por fila con espacio entre ellas */
    display: flex; /* Flexbox para organizar la imagen y la descripción en fila */
    padding: 10px;
    align-items: center; /* Alinea verticalmente los elementos al centro */
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-projects{
    padding-top: 45px;
    
}
.container-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 20px; /* Ajusta el espacio entre las tarjetas según sea necesario */
}

.container-img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
    margin-right: 20px; /* Espacio entre la imagen y la descripción */
}




.card-project {
    background: #ed0057;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
}

.container-referencias{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
}
.card-referencias {
    background: #a727cf;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(30% - 20px); /* Tres tarjetas por fila con espacio entre ellas */
    display: flex; /* Flexbox para organizar la imagen y la descripción en fila */
    padding: 10px;
    align-items: center; /* Alinea verticalmente los elementos al centro */
    flex-wrap: wrap;
}



.section-experiencia{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.card-experiencia {
    /* background: #a727cf; */
    /* border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    width: calc(30% - 20px); /* Tres tarjetas por fila con espacio entre ellas */
    display: flex; /* Flexbox para organizar la imagen y la descripción en fila */
    padding: 10px;
    align-items: center; /* Alinea verticalmente los elementos al centro */
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.container-img-proyectos {
    flex: 0 0 30%; /* Esto hace que el div ocupe el 30% del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container-img-proyectos img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen ocupe todo el div sin perder la proporción */
}

.card-description-card {
    flex: 1; /* Esto hace que el div ocupe el 70% restante del contenedor */
    padding: 20px; /* Ajusta el padding según sea necesario */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-img-card img {
    max-width: 50%;
    height: auto;
    border-radius: 20%;
    object-fit: cover;
} 

.card-description-card {
    flex: 1; /* Esto hace que el div ocupe el 70% restante del contenedor */
    padding: 20px; /* Ajusta el padding según sea necesario */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-description-card h3 {
    margin: 0;
    margin-bottom: 10px;
}

.card-description-card p {
    margin: 0;
    margin-bottom: 10px;
}

.card-description-card a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.href-proyectos{
    background-color: var(--first-color);
    border-radius: 10px;
    padding: 1px;
   
}




.img-experiencia {
    width: 50%;
    height: 50%;
    border-radius: 50%; /* Solo si quieres que la imagen de perfil sea circular */

}

.card-p {
    color: #e1015a; /* Color para el texto dentro de la etiqueta p */
}
.card-p span {
    color: rgb(247, 242, 242); /* Color para el texto dentro de la etiqueta span */
}

p{
    text-align: justify;
}
